<% if comment.editable_comment?(current_user) %>
  <div class="comment_buttons">
    <%= link_to edit_post_comment_path(post, comment) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure？" } do %>
      <i class="fa fa-trash-o"  aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>