<div class="comment_content"><%= comment.content %></div>
<!-- comment edit destroy button -->
<div class="float_right_bottom">
  <%= render partial: "shared/comment_edit_button", locals: { post: @post, comment: comment } %>
</div>