<div class="content"><%= comment.content %></div>
<!-- comment edit destroy button -->
<div class="edit_button_table">
  <div class="edit_button">
    <%= render partial: "shared/comment_edit_button", locals: { comment: comment } %>
  </div>
</div>