<% if comment.user == current_user || current_user.admin? %>
  <div class="comment_buttons">
    <%# link_to edit_comment_post_path(@post, comment_id: comment.id), remote: true %>
    <%= link_to post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure？" } do %>
      <i class="fa fa-trash fa-2x"></i>
    <% end %>
  </div>
<% end %>