<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">

        <li role="presentation">
          <%= link_to_unless_current "My Post", user_path(user), class: "nav-link" do %>
            <%= link_to "My Post", user_path(user), class: "nav-link active" %>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
</div>