<div><%= image_tag user.avatar, width: 140, height: 140 if user.avatar? %></div>
<div class="avatar_name"><%= user.name %></div>
<div class="friend_button" id="user-<%= user.id %>"><!-- Ajax prepare -->
  <%= render partial: "shared/friend_button", locals: { user: user } %>
</div>