<div class="image"><%= image_tag @post.image, style: "width: 100%;" if @post.image? %></div>
<div class="post_content"><%= @post.content %></div>
<div class="float_right_bottom">
  <%= render partial: "shared/post_edit_button", locals: { user: user } %>
</div>