<% if @post.editable_post?(current_user) %>
  <div class="post_buttons">
    <%= link_to edit_post_path(@post) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure？" } do %>
      <i class="fa fa-trash-o"  aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>