<nav id="post_nav">
  <ul class="nav nav-pills">
    <li class="<%= 'active' if current_page?(root_path)%>"><!-- 不能掛雙重條件，全部使用 root_path 勿用 posts_path -->
      <%= link_to "All", root_path %>
    </li>    
    <% @categories.each do |category| %>
      <li class="<%= 'active' if current_page?(posts_path(category_id: category.id)) %>">
        <%= link_to category.name, posts_path(category_id: category.id) %>
      </li>
    <% end %>
  </ul>
</nav>