<nav class="category_bar clearfix">
  <div class="button_set">
    <div class="btn btn-default fixed_width_button">
      <% if @category %>
        <%= link_to "All", posts_path, class: "nav-link" %>
      <% else %>
        <%= link_to "All", posts_path, class: "nav-link active" %>
      <% end %>
    </div>

    <% @categories.each do |category| %>
      <%# 注意內包 css div 非外包 %>
      <div class="btn btn-default fixed_width_button">
        <% if @category && category.id == @category.id %>
          <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link active" %>
        <% else %>
          <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link" %>
        <% end %>
      </div>
    <% end %>

  </div>
</nav>