<div class="container">
  <div class="row">
    <%= render partial: '/posts/post_nav' %>

    <%= render partial: '/posts/post_list' %>

    <div class="text-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  });
</script>