/*------ Basic setting ------*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;  /* google font */
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 8px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.clearfix::after {            /* ::after - 從選取元素的後面插入東西 */
  content: '';
  display: table;
  clear: both;                /* 清除子元素設定的 float left、right，使其跟隨父層 */
}

.link {
  font-size: 22px;
  margin: 16px 16px 8px 0;
}

.link a {
  color: black;
}

.profile_avatar {
  margin: auto, 0;
}

.profile_name {
  text-align: center;
  color: #00687e;
  font-size: 32px;
}

.title {
  color: #00687e;
  font-size: 32px;
}

.intro {
  color: #78a0cd;
  text-align: justify;
}

/*------ header setting ------*/

header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #fff;   /* 因最上層顯示，不上色的話會看到下層 */
  z-index: 100;             /* 最上層顯示，需於 layout 伴隨加入 div nav_margin */
}

.nav_margin {
  height: 76px;             /* div collapse，因 Nav 和其餘不同層，#header 設 margin-bottom 是無效的 */
}

#logo {
  float: left;  /* 原本圖片尺寸跟父層 header 跑，浮動排列就回復原來尺寸 */
  height: 50px;
}

.logo-item {
  float: left;
  font-size: 16px;
}

.logo-item li {
  display: inline-block;
  margin: 20px 16px 16px 8px;
}

/*=== nav right 設定：都使用 float right，圖片會跑到最右邊 ===*/
#profile {
  position: absolute;         /* 父層內絕對位置 */
  right: 100px;               /* 排在 logout link 的左邊 */
  height: 50px;               /* 排除上下內縮，以符合導覽列高度 */
}

.nav-right li {               /* menu button 出現時位置要再設定 */
  position: absolute;
  right: 0;
  display: inline-block;  
  font-size: 16px;
  margin: 20px 16px 16px 8px;
}

/*------ Post Index ------*/

.category_bar {
  font-size: 16px;
  margin: 20px 16px 16px 8px;
}

.button_set {
  float: left;
}

.fixed_width_button {            /* 等長按鈕，注意文字長設 測試上限 或用truncate? */
  min-width: 80px;
  max-width: 80px;
}

.index_msg {
  text-align: center;
}

.post_title {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

/* button tag 長寬內縮都有預設，避免多餘設定 */
.replies_count {
  display: block;              /* 按鈕置中排列，不要在父層設定 text-align:center 很不直觀 */
  margin: 0 auto;              /* 按鈕置中排列 */
  border: 1px solid #d9d9d9;   /* 相近色系避免按各個按鈕長度差異過大的感覺 */
  min-width: 32px;             /* 避免單位數及雙位數寬度差異過大 */
  border-radius: 3px;
  background-color: #eee;
  text-align: center;          /* 數字置中 */
  color: #7d7d7d;              /* 字體顏色 不是 font-color */
}

.read {
  background-color: #add8e6;
  width: 45px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  font-size: 1px;
}

/*------ Post New file upload button ------*/

.upload_button {
  margin-bottom: 15px;
}

/*------ Post New radio & checkbox ------*/

input[type=checkbox], input[type=radio] {
  margin: 0 10px;
}

.new_title {
  color: black;
  font-size: 12px;
  width: 100px;        /*  注意對 span 無效 */
  font-weight: bold;
}

.new_table {
  margin-bottom: 10px;
}

.new_td {
  width: 100px;
}

/*------ Post Show  ------*/

#title_banner {
  background-color: #efefef;
  height: auto;              /* RWD small size setting */
}
/* 各元素屬性不一，padding 個別設定 */

.banner_title {
  float: left;
  padding: 15px 15px 0 15px;
  color: #222;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.title_buttons {
  float: right;                 /* 479 以下設為 float left */
  margin: 20px 15px 20px 15px;
}

.title_button {
  display: inline-block; /* 盒子水平排列，設定在 .title_button a 時會失效 */
}

.title_button  a {            /*------ <%= link_to ~, class: "btn btn-default" %> 再外掛樣式，解決使用 post 動作且按鈕不變型  ------*/
  min-width: 95px;       /* 等長按鈕，設定在父層盒子 => 字數變少時按鈕會變短 */
  max-width: 95px;       /* 等長按鈕，設定在父層盒子 => 字數變少時按鈕會變短 */
  font-size: 16px;
  color: #000;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 5px;
  text-transform: capitalize;
}

.title_button  a:hover {
  background: #666;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}                                 /* 以上 post show #title_banner 設定 */

.post_user_info {
  float: left;
  width: 25%;
  padding: 15px 0;
  /*display: inline-block;*/          /* .post_user_info .post_info 水平排列 => 使用 float 與 clearfix 處理即可 */
  text-align: center;
  margin: 8px 0;
}

.avatar_name {
  color: #333;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  /*text-align: center;*/             /*父層已設定*/
}

.post_info {
  float: left;
  width: 75%;
  padding: 15px 0;
  /*display: inline-block;*/          /* .post_user_info .post_info 水平排列 => 使用 float 與 clearfix 處理即可 */
}

.image {
  margin-bottom: 15px;
}

.post_content {
  color: #767676;
  width: 100%;
  /*height: 80%;*/
}

.edit_button_table {     /* edit_button 垂直置底設定 */
  display: table;        /* float 區塊至少一個元素有高度設定(非百分比)，讓置底有個基準;容器也可以包覆元素。註1：.comment_info */
  position: relative;
  /*width: auto;*/       /* 多餘 */
  float: right;          /* 不可設定在 edit_button 會和置底設定衝突 */
  height: 80px;          /* 細部元件不要設 auto 或百分高度，容易跑版 */
  margin: 0 10px 10px 0;
}

.edit_button {
  display: table-cell;
  vertical-align: bottom;
}

.comments {
  margin: 8px auto;
  background-color: #efefef;
  border-radius: 5px;
  width: 80%;
}

.comment_container {
  width: 100%;                  /* each do 內包時，容器寬度要全寬，否則右側會有一大塊 margin */
  margin: 2px 0;
  position: relative;
}

.comment_user_info {
  float: left;
  /*position: relative;*/
  width: 25%;
  padding: 15px 10px 15px 20px;
  /*display: inline-block;*/      /* 多餘的設定 .post_user_info .post_info 水平排列 */
  text-align: center;
  /*margin: 8px 22px 8px 0;*/     /* 重要重要===== 設定 margin 兩欄位無法吃滿寬度，RWD 會很難設定=====重要重要 */
  /*min-height: 210px;*/              /* float 後無高度概念，至少有一個元素要設定高度，user_info 變動不大，設定這個比較方便 => 請愛用 clearfix */
}

.comment_info {                   /* ---------- 長度無法佈滿容器，待修正 ---------- */
  float: left;
  /*position: relative;*/
  width: 75%;
  padding: 15px 0 15px 15px;
  /*display: inline-block;*/      /* 多餘的設定 .post_user_info .post_info 水平排列===百分比加 float 就可以處理了 */
}

/*------ Feeds Index  ------*/

.count_bar {
  margin: 25px 0;
  padding: 50px 0;
  background-color: #f3f3f3;
}

.feeds_count {
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  font-color: #939393;
  padding: 3px 0;
  width: 40%;
  margin: 0 auto;
}

.box {
  width: 60%;                /*------ 下底線長度縮短  ------*/
  margin: 0 auto;
}

.bottom_line {
  border-bottom: 2px solid #b1b1b1;
  padding-bottom: 5px;

}

/*------ User Show  ------*/

.user_profile {
  background-color: #f3f3f3;
}

.profile_right {
  padding-right: 50px;
}

.profile_top {
  height: 80%;             /*------ 無效待修正  ------*/
}

.profile_bottom {
  height: 20%;             /*------ 無效待修正  ------*/
}

/*------ User Comments  ------*/

.post {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px;
}

.post_top {
  margin-left: 15px;
}

.comment {
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  font-color: #939393;
  padding: 10px 5px;
  width: 25%;
  margin: 10px 15px 0;
}

/*------ User Friends  ------*/

/*------  重疊按鈕置中 block 加 margin auto 會和 titile_button 的 inline-block 衝突 ------*/
.friend_button a {
  display: block;                
  margin: 0 auto;  /*------  一, 二行在盒內置中  ------*/
  width: 80px;
  font-size: 16px;
  color: #000;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 5px;
  text-transform: capitalize;
}

.friend_button a:hover {
  background: #666;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.watting_for_response, .friend_list {
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  background-color: #f3f3f3;
  padding-bottom: 15px;
  min-height: 200px;
}

.friendship_request_area {
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  background-color: #ccc;
  padding-bottom: 15px;
  min-height: 250px;
}

.avatar_bar {
  text-align: center;
}

/*------ Admin Category  ------*/

.category_table {
  border: 1px solid #acacac;
}

.table_title {
  background-color: #f3f3f3;
}

/*------ Admin User  ------*/

.admin_name {
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}

/*------ Session New  ------*/

.devise_button {
  position: relative;           /*------ 按鈕水平排列，中間不可夾 end 會失效  ------*/
  display: inline;
}

/*------ 手機版  ------*/

@media screen and (min-width: 1024px) {
  .menu-button,
  .menu-button-checkbox {
    display: none;
  }
}

@media screen and (max-width: 1023px) {

  .container {                  /*------ 小尺寸用滿螢幕寬度，checkbox 可設於右上  ------*/
    width: auto;
  }  

  .menu-button-checkbox {       /*------ 注意要設定在容器裡面，menu-button 才靠得過來  ------*/
    position: fixed;            /*------ 1~3 與 icon 對位右上角  ------*/
    top: 0;
    right: 5px;                 /*------ icon 離右邊 15px checkbox margin 10px，故再離右邊 5px  ------*/
    width: 51px;                /*------ 對 icon 寸尺  ------*/
    height: 44px;               /*------ 對 icon 寸尺，上述設定沒包好遊標會出現手指頭 ------*/
    opacity: 0;                 /*------ 不透明將之隱藏  ------*/
  }

  .menu-button {
    float: right;
    font-size: 25px;            /*------ 設定 icon 尺寸  ------*/
    line-height: 40px;
    color: #000;                /*------ Nav 白底時要上色不然看不出來  ------*/
    background: transparent;    /*------ 透明 ------*/
    padding: 0 15px;            /*------ 設定與 container 相同 padding ------*/
    border: 0;                  /*------ 預設有格線，去除 ------*/
  }

  .menu {
    display: none;
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    width: 150px;
    height: 100%;
    right: 0;
    top: 43px;                   /*------ 對接 checkbox 的高度  ------*/
/*    background: #fff; nav 白底色和 sidenav 底色很難配，不如不要設定 */
  }

  .menu li {
    /*color: #fff; */
    background-color: #939393;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
  }

  .menu li a {
    color: #fff;                 /*------ link 顏色對 a 不是對 li 設定  ------*/
  }

  .menu-button-checkbox:checked ~ .menu {
    display: block;
  }

  .menu-button-checkbox:checked ~ .menu li {
    display: block;
  }

  /* nav right 小尺寸裝置之位置設定 */
  #profile {
    right: 155px;               /* 排在 logout link 的左邊 */
  }

  .nav-right li {
    right: 55px;
  }
}

@media screen and (max-width: 479px) {
  .title_buttons {                      /* title_buttons RWD */
    float: left;
    margin: 20px 15px 20px 15px;
  }
}

@media screen and (max-width: 749px) {
  .post_user_info {
    /*float: left;*/
    width: 100%;
    padding: 15px 0;
    /*display: block;*/          /* 小尺寸取消 .post_user_info .post_info 水平排列 => 利用 100% 寬度去擠 post_info 即可 */
    /*text-align: center;*/  /* 本來就有不要重復設定 */
    margin: 8px 0;
  }

  .post_info {
    width: 100%;
    padding: 15px 0;
    /*display: block;*/          /* 小尺寸取消 .post_user_info .post_info 水平排列 => float + 100% 寬，不必再多此一舉 */
  }
}

@media screen and (max-width: 849px) {
  .comment_user_info {           /* 檢查工具可見右側 margin 無法用盡，待修 */
    /*float: left;*/             /* 本來就有不要重復設定 */
    width: 100%;
    padding: 8px 0;
    /*display: block;*/          /* 小尺寸取消 .comment_user_info .comment_info 水平排列 */
    /*text-align: center;*/
    /*margin: 8px 0;*/
  }

  .comment_info {
    width: 100%;
    padding: 8px 10px;
    text-align: center;
    /*min-height: auto;*/        /* 小尺寸取消 最小高度，只設定 height 是無效的 => clearfix 設定了就不用多設這個 */
    /*display: block;*/          /* 小尺寸取消 .comment_user_info .comment_info 水平排列 => 請愛用 float 與寬度設定 */
  }
}