/*------ Basic setting ------*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;  /* google font */
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 8px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.clearfix::after {            /* ::after - 從選取元素的後面插入東西 */
  content: '';
  display: table;
  clear: both;                /* 清除子元素設定的 float left、right，使其跟隨父層 */
}

.link {
  font-size: 22px;
  margin: 16px 16px 8px 0;
}

.link a {
  color: black;
}

.profile_avatar {
  margin: auto, 0;
}

.profile_name {
  text-align: center;
  color: #00687e;
  font-size: 32px;
}

.title {
  color: #00687e;
  font-size: 32px;
}

.intro {
  color: #78a0cd;
  text-align: justify;
}

/*------ header setting ------*/

header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #222;
  z-index: 100; 
}

#logo {
  float: left;  /* 原本圖片尺寸跟父層 header 跑，浮動排列就回復原來尺寸 */
  height: 50px;
}

.logo-item {
  float: left;
  font-size: 16px;
}

.logo-item li {
  display: inline-block;
  margin: 20px 16px 16px 8px;
}

.nav-right {
  float: right;
}

.nav-right li {
  display: inline-block;
  margin: 8px 16px 16px 8px;
}

/*------ Post Index ------*/

.category_bar {
  font-size: 16px;
  margin: 20px 16px 16px 8px;
}

.button_set {
  float: left;
}

.fixed_width_button {            /* 等長按鈕，注意文字長設 測試上限 或用truncate? */
  min-width: 80px;
  max-width: 80px;
}

.index_msg {
  text-align: center;
}

.post_title {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.replies_count {
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #eee;
  text-align: center;
  font-color: #939393;
  padding: 3px 0;
  width: 25%;
  margin: 0 auto;
}

/*------ Post New file upload button ------*/

#uploadfile .defaultupload {
    opacity: 0;                  /* 蓋到 title 待修 */
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
}

#uploadfile .defaultupload:hover {
    opacity: 0;
}

#uploadfile button {
    position: relative;
    top: 0;
    z-index: 1;
}

.defaultupload select, input[type="file"] {
height: 45px;
line-height: 30px;
}

/*------ Post New radio & checkbox ------*/

input[type=radio] {
  display: inline-block;  /*  水平排列無效 */
}

input[type=checkbox], input[type=radio] {
  margin: 0 10px;
}

/*------ Post Show  ------*/

.title_bar {
  color: #333;
  background-color: #efefef;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 15px;
}

.title_button  a {            /*------ <%= link_to ~, class: "btn btn-default" %> 再外掛樣式，解決使用 post 動作且按鈕不變型  ------*/
  display: inline-block;
  font-size: 16px;
  color: #000;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 5px;
  text-transform: capitalize;
/*  
  float: right;    右拉，記得加 clearfix，找相關使用這個的元素
*/
}

.title_button  a:hover {
  background: #666;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.post_bar {
  margin: 8px 0;
}

.comment_bar {
  margin: 8px 0;
  background-color: #efefef;
}

.avatar_bar {
  display: block;   /* 物件要分開，不然垂直排列無效 */
  text-align: center;
}

.avatar_name {
  color: #333;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.content {
  color: #767676;
}

/*------ Feeds Index  ------*/

.count_bar {
  margin: 25px 0;
  padding: 50px 0;
  background-color: #f3f3f3;
}

.feeds_count {
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  font-color: #939393;
  padding: 3px 0;
  width: 40%;
  margin: 0 auto;
}

.box {
  width: 60%;                /*------ 下底線長度縮短  ------*/
  margin: 0 auto;
}

.bottom_line {
  border-bottom: 2px solid #b1b1b1;
  padding-bottom: 5px;

}

/*------ User Show  ------*/

.user_profile {
  background-color: #f3f3f3;
}

.profile_right {
  padding-right: 50px;
}

.profile_top {
  height: 80%;             /*------ 無效待修正  ------*/
}

.profile_bottom {
  height: 20%;             /*------ 無效待修正  ------*/
}

/*------ User Comments  ------*/

.post {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px;
}

.post_top {
  margin-left: 15px;
}

.comment {
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  font-color: #939393;
  padding: 10px 5px;
  width: 25%;
  margin: 10px 15px 0;
}

/*------ User Friends  ------*/

/*------  重疊按鈕置中 block 加 margin auto 會和 titile_button 的 inline-block 衝突 ------*/
.friend_button a {
  display: block;                
  margin: 0 auto;
  width: 80px;
  font-size: 16px;
  color: #000;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 5px;
  text-transform: capitalize;
}

.friend_button a:hover {
  background: #666;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.watting_for_response, .friend_list {
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  background-color: #f3f3f3;
  padding-bottom: 15px;
}

.friendship_request_area {
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  background-color: #ccc;
  padding-bottom: 15px;
}

/*------ Admin Category  ------*/

.category_table {
  border: 1px solid #acacac;
}

.table_title {
  background-color: #f3f3f3;
}

/*------ Admin User  ------*/

.admin_name {
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}